body {
	background-color: #F0F7F4;
	color: #58635D;
}

@media (max-width:768px){
	header {
		padding: 0 !important;
	}

	header h1 {
		font-size: 5em !important;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 0;
	}

	header h2 {
		color: #5A6660;
		font-size: 1.5em !important;
		line-height: 2em;
	}

	.form-group button {
		display: block;
		width: 100%;
	}
}

header {
	padding: 3em 0;
}

header h1 {
	font-size: 7.5em;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1em;
}

header h2 {
	color: #5A6660;
	font-size: 2em;
	line-height: 2em;
}

header input[type='text']{
	font-size: 2.25em;
	padding: 1em .5em;
}

button[type='submit'] {
	font-size: 1.75em;
	font-weight: 700;
	padding: .9em;
}

.error {
	font-size: 1.25em;
	font-weight: 700;
	color: tomato;
}

.searchingFor {
	color: #616D67;
	background-color: #E1E8E5;
	padding: .15em .35em;
	font-weight: 600;
	border-radius: .2em;
}

figure {
	padding-top: 1em;
	padding-bottom: 1em;

}

figure .outer {
	padding: .35em;
	border: 1px dotted #A3A8A6;
	border-radius: .35em;
}

figure .result {
	position: relative;
	overflow: hidden;
	border-radius: .35em;
}

figure .result .resultMeta {
	color: #F0F7F4;
	background-color: rgba(0,0,0,0.45);
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	padding: .5em;
	position: absolute;
	font-size: 1.25em;
	bottom: 0;
	left: 0;
	right: 0;
}

/*
figure figcaption {
	color: white;
	background-color: rgba(0,0,0,0.6);
	font-size: 1em;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1000;
}
*/

.hl-red {
	background-color: rgba(255,0,0,0.85);
}